<launch>

  
  <param name="use_sim_time" value="true"/>

  <node pkg="slam_toolbox" type="sync_slam_toolbox_node" name="slam_toolbox" output="screen">
    <rosparam command="load" file="$(find slam_toolbox)/config/mapper_params_online_sync.yaml" />
  </node>

  <node name="rviz" pkg="rviz" type="rviz" required="true"
      args="-d $(find slam_toolbox)/config/slam_toolbox_default.rviz" />
  <node name="playbag" pkg="rosbag" type="play"
      args="--clock $(arg bag_filename)" />

</launch>
